<div class="container">
        <div class="colored-text">
            HighChart Demo
        </div>
        <div class="sizedbox"></div>
        <nav class="menu">
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/linechart" routerLinkActive="active">Line Chart</a>
            <a routerLink="/piechart" routerLinkActive="active">Pie Chart</a>
            <a routerLink="/barchart" routerLinkActive="active">Bar Chart</a>
            <a routerLink="/combination" routerLinkActive="active">Combination Chart</a>
          </nav>
    <router-outlet />
    <div>